NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT=

#collections
NEXT_PUBLIC_DATABASE=
NEXT_PUBLIC_ABOUT=
NEXT_PUBLIC_APP_SKILL=
NEXT_PUBLIC_CYBER_SKILL=
NEXT_PUBLIC_CERTIFICATION=
NEXT_PUBLIC_PROJECT=

#google form
GOOGLE_FORM_URL=
GOOGLE_FORM_ENTRY_EMAIL=
GOOGLE_FORM_ENTRY_MESSAGE=
