# Environment variables
.env.local

# Common ignores
node_modules
.next/
.DS_Store

# Work directory
/work/
prompt.md
.antigravitycli
AGENTS.md
design.md
project.md

# typescript
*.tsbuildinfo
next-env.d.ts